<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to Demonstration of  Mid Term<%= title %></h2>
            <h2>So sorry for making this silly mistakes in this stage and Thanks as well for allowing me to representation again<%= title %></h2>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


